.user-list {
  padding: 60px;
}

.user-list .title {
  font-weight: 700;
  margin-left: 9px;
  margin-top: 30px;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .user-list .css-1t66o0l-MuiPaper-root {
  height: 70vh;
} */
