.footer {
  background-color: #454545;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
}

.footer-bottom {
  /* margin-top: 20px; */
  font-size: 0.9em;
}
