/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #006ae8; /* Dark background */
  color: #ffffff; /* White text */
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.navbar-logo .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #7aadca; /* Highlight color */
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.navbar-hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.user-dropdown {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 24px;
  color: #ffffff;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #006ae8;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #4c9dff;
}

.logout {
  color: #ff4d4d;
}

.logout-icon {
  font-size: 20px;
}

.navbar-menu .active {
  /* color: #111;  */
  /* text-decoration: underline; */
  font-weight: 600;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #201e1f;
    width: 100%;
    padding: 10px 0;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-hamburger {
    display: flex;
  }

  .navbar-menu a {
    padding: 10px 20px;
  }
}

.user-dropdown {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #006ae8;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure it appears above other elements */
}

.dropdown-item {
  padding: 10px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #4c9dff;
}
